.a1
{
    background-image: url(images/mainBG_01.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.a2
{
    background-image: url(images/mainBG_03.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
.tlinks
{
    font-family: verdana;
}
.tlinks A:link
{
    font-size: 12px;
    color: #333333;
    font-family: verdana;
    text-decoration: none;
    font-weight: 700;
}
.tlinks A:visited
{
    font-size: 12px;
    color: #333333;
    font-family: verdana;
    text-decoration: none;
    font-weight: 700;
}
.tlinks A:active
{
    font-size: 12px;
    color: #333333;
    font-family: verdana;
    text-decoration: none;
    font-weight: 700;
}
.tlinks A:hover
{
    font-size: 12px;
    color: #fa3700;
    font-family: verdana;
    text-decoration: underline;
    font-weight: 700;
}

a
{
    color: #222222;
    text-decoration: none;
}

.txt1
{
    font-family: verdana;
    font-size: 11px;
    color: #222222;
}

.txt2
{
    font-family: verdana;
    font-size: 11px;
    color: #996666;
}

.hd1
{
    font-family: verdana;
    font-size: 12px;
    font-weight: 700;
    color: #eeeeee;
}

.hd2
{
    font-family: verdana;
    font-size: 14px;
    color: #222222;
    font-weight: 700;
}

.bd1
{
    border: 1px solid #999999;
}

.DivIndecPic
{
    /* float: left;     width: 100%;     padding-left: 20%; */
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.indeximg
{
    /* width: 25%;      float: left;     margin-right: 3%;     padding-bottom: 16px;     padding-top: 15px; */
}
.indeximg img
{
    width: 100px;
    border: 4px solid #4ee2ec;
    height: 89px;
}
.boderblack img
{
    border: 1px solid #121313 !important;
    background-color: white;
}
@media screen and (max-width: 1080px) and (min-width: 1009px)
{
    .indeximg img
    {
        width: 18% !important;
    }
}
@media screen and (max-width: 650px)
{
    .indeximg img
    {
        width: 20% !important;
    }
}

@media screen and (max-width: 599px)
{
    .indeximg img
    {
        height: 73px !important;
    }
}


.newcentrelink
{
	top:77% !important
}